{% extends "base.html" %}
{% block content %}
  {% if request.user.is_authenticated %}
    <h1>{{ form.instance.id|yesno:"Редактировать рецепт,Добавить рецепт" }}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <h3>Выберите категории:</h3>
      {% for category in categories %}
          <label>
              <input type="checkbox" name="categories" value="{{ category.id }}">
              {{ category.name }}
          </label><br>
      {% endfor %}
      <button type="submit">Сохранить</button>
    </form>
  {%else%}
    <h2> Для того чтобы добавить свой рецепт <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}"> зарегистрируйтесь</a></h2>
  {%endif%}
{% endblock %}